.curriculo {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #00000060;
    box-shadow: 0px 5px 15px 10px #000000d7;
    padding: 30px;
    height: fit-content;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: left;

}

.perfil {
    display: flex;
    flex-direction: row;
    margin: 50px 30px;
}

.info_curriculo {
    margin: 20px 30px;
}

#nome_curriculo {
    font-weight: 800;
    font-size: larger;
}

.experiencia_prof {
    margin: 20px 0;
}

.curriculo p {
    font-size: 15px;
}